#map {
    height: 90%;
    width: 97%;
}

html, body {
    height: 100%;
    padding: 0;
}

div > h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

img {
    float:left;width:42px;height:42px;
}

.card-format {
    width: 300px;
}